# Known Good Versions Set
# =======================

[buildout]
extensions =
    mr.developer

# Dump the last successful "known good" versions to a file so that we can pin
# those for example in production.cfg
show-picked-versions = true

# Extend a versions configuration to get the right version of Plone.
# The files can be downloaded from http://dist.plone.org/release/<version>/versions.cfg

extends =
    http://dist.plone.org/release/4.3.2/versions.cfg
    versions.cfg

find-links +=
    http://dist.vorwaerts-werbung.de/public/

versions = versions
unzip = true

[eggs]
main =
    ade25.typekit
    ade25.toolbar
    adk.contentpages
    adk.sitecontent
    adk.sitetheme
    adk.testimonials
    adk.portlet.events
    vwc.blog

addon =
    Pillow
    Products.LinguaPlone
    Products.PloneFormGen
    collective.embedly
    collective.indexing
    plone.app.caching
    plone.app.contenttypes
    plone.app.widgets[archetypes]
    plone.app.toolbar
test =
    adk.sitecontent [test]
devtools =
    bpython
    plone.reload
    sauna.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab

# mr.developer - sources available for auto-checkout.
# Run ./bin/develop help for more information.

[sources]
adk.contentpages            = fs adk.contentpages
adk.sitecontent             = fs adk.sitecontent
adk.sitetheme               = fs adk.sitetheme
adk.testimonials            = fs adk.testimonials
adk.portlet.events          = fs adk.portlet.events

vwc.tiles                   = git git@github.com:vwc/vwc.tiles.git
vwc.toolbar                 = git git@github.com:vwc/vwc.toolbar.git

vwc.blog                    = git git@github.com:vwc/vwc.blog.git

ade25.fabfiles                 = git git@github.com:ade25/ade25.fabfiles.git
ade25.typekit                  = git git@github.com:ade25/ade25.typekit.git
ade25.toolbar                  = git git@github.com:ade25/ade25.toolbar.git

# Plone packages
# Additional plone checkouts
plone.app.contenttypes      = git git@github.com:plone/plone.app.contenttypes.git

plone.app.blocks            = git git://github.com/plone/plone.app.blocks.git
plone.app.tiles             = git git://github.com/plone/plone.app.tiles.git
plone.tiles                 = git git://github.com/plone/plone.tiles.git

# Development Tools checkouts
sauna.reload                = git https://github.com/epeli/sauna.reload.git
