// Main Stylesheet for application specific overrides

@adk-blue:       #314DA1;
@adk-red:        #AF1E4A;
@adk-grey:       #E7E7E7;

@link-color:            @adk-red;

@font-size-base:          16px;
@line-height-base:        25px;

// Application styles
// -------------------

#editbar-wrapper {
    //position: fixed;
    //z-index: 1;        
    .navbar-brand {
        width: 0px;
        height: 0px;
        visibility: collapse;
        color: #fff;
        a:hover, a:focus, a:active {
            color: #fff;
        }
    }
    .navbar {
        //z-index: 2;
        color: #fff;
        background-color: @adk-blue;
        #navigation {
            background-color: @adk-blue;
            position: relative;
            z-index: 10;
            margin-right: auto;
            max-width: 960px;
            ul {
                margin-top: 10px;
                li {
                    display: inline-block;
                    list-style: none;
                    a {
                        color: #fff;
                        margin-right: 15px;
                        display: block;
                        padding: 0.75em;
                        text-decoration: none;
                    }
                    a:hover, a:focus, a:active {
                        border: none !important;
                        display: block;
                        padding: 0.75em;
                        color: #fff !important;
                        text-decoration: none;
                        background-color: @adk-red;
                        color: #000;
                    }
                }
            }
        }
    }
}

input.context,
input.standalone {
    .btn();
}

#header-phone .navbar {
    background-color: @adk-blue;
    position:relative;
    .brand {
        color: #fff;
    }
    .nav > li > a {
        color: #fff;
    }
}

#topbar {
    position: relative;
    display: block;
    border-top: 5px solid @adk-blue;
    //padding-top: @navbar-height + (@navbar-height / 2) !important;
    margin-bottom: @line-height-base;
    #logo-wrapper {
        //margin-top: -65px;
        //margin-left: -60px;
        //background-color: #fff;
        ////position: fixed;
        //z-index: 3;
    //    border-bottom: 2px solid @adk-grey;
        #logo {
            z-index: 4;
            display: block;
            background: 0 0px url(../images/logo-adk.png) no-repeat;
            border-left: 5px solid #fff;
            border-right: 5px solid #fff;
            background-size: 100%;
            .size(310px, 75px);
            text-indent: -3000px;
            overflow:hidden;
            margin: @line-height-base 0 @line-height-base;
        }
    }

    a {
        color: #000;
    }
    #language-flags-wrapper {
        margin-right: 50px;
        ul.nav-pills > li > a {
            background: @adk-blue;
            color: #fff;
            font-size: @font-size-base;
            padding: 5px 10px;
            border-radius: 0px;
            &:hover {
                background: lighten(@adk-blue, 20%);
            }
        }
    }
//    border-bottom: 1px solid @adk-grey;
    //height:@navbar-height * 3.5;

    .section-it-it #global-quicklinks,
    .section-es-es #global-quicklinks,
    .section-fr-fr #global-quicklinks {
        width: 400px;
    }
    .navbar {
        background: #fff;
        //font-size: 11.9px;
    }
    //#logo {
    //    position:absolute;
    //    margin: 0 22px 25px;
    //    background: 0 0px url(../images/logo-adk.png) no-repeat;
    //    .size(310px, 75px);
    //    margin: @line-height-base @line-height-base @line-height-base @line-height-base * 20;
    //    display: block;
    //    text-indent: -3000px;
    //    overflow:hidden;
    //    padding-bottom: 12px;
    //    border-bottom: 2px solid @adk-grey;
    //}
    #search {
        max-width: 320px;
    }
    #search-site,
    #search-site-button {
        border-radius: 0px;
    }
    #search-site-button {
        background: @adk-blue;
        border-color: @adk-blue;
    }
}


#toolbar + #topbar,
#editbar-wrapper + #topbar {
    padding-top: @navbar-height;
}


// OVERRIDES - STYLE ALTERNATIVES
// DE can be used to implement a different layout

body.section-de-de {
    // Custom styles here
    padding-top: @navbar-height + @line-height-base;
    #logo-wrapper {
        margin-left: auto;
        background-color: #fff;
        position: fixed;
        border-bottom: 2px solid @adk-grey;
        z-index: @zindex-navbar-fixed + 2;
        #logo {
            display: block;
            background: 0 0px url(../images/logo-adk.png) no-repeat;
            border-left: 5px solid #fff;
            border-right: 5px solid #fff;
            background-size: 100%;
            .size(310px, 75px);
            text-indent: -3000px;
            overflow:hidden;
            //margin: @line-height-base 0 @line-height-base;
        }
    }
    #language-flags-wrapper {
        margin-right: 50px;
        margin-top: 70px;
    }
    #content {
        margin-top: 50px;
        #anmeldung {
            background-color: @adk-red;
            a {
                color: #fff;
            }
        }
    }
}

body.section-en-en {
    font-family: 'Abel';
    font-size: @font-size-base * 1.1;
    #hero-text .jumbotron {
        background: lighten(@adk-blue, 20%)
    }
    #main-nav a {
        background: @adk-red;
        border-right: 1px solid #fff;
        color: @grayLighter;
        &:hover {
            color: #fff;
            background: lighten(@adk-red, 5%);
        }
        &.active {
            background:lighten(@adk-red, 10%);
            color: #fff;
            .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
        }
    }
    #document-toc {
        width: 30%;
        .pull-right();
        .panel();
        dt {
            .panel-heading();
        }
        dd {
            font-size: @font-size-small;
        }
    }
}

/// END OVERRIDES


#header-phone {
    .navbar-brand {
        color: #fff;
    }
}


.jumbotron {
    h1 {
        color: @adk-blue;
        //text-align: center;
    }
    p {
        color: @adk-red;
    }
    li {
        list-style: none;
    }
}

#hero-text .jumbotron {
    background: @adk-blue;
    border-radius: 0px;
    color: #fff;
    padding-top: @navbar-height * 1.5;
    padding-bottom: @line-height-base / 2;
    h1 {
        color: #fff;
    }
    p {
        color: #fff;
    }
}

#site-wrapper {
    margin-top: -50px;
    #sidebar {
        min-width: 75%;
        .btn {
            background-color: @adk-red;
            color: #fff;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
    #content {
        .thumbnail {
            display: block;
            margin: auto;
            //max-width:100%;
            //height: 150px;
        }
       width: 90%;

       h2 {
            color: @adk-blue;
       }
       .xxitemHeadline a {
            color: @adk-red;
       }
       .tileImage {
           //padding-top: 30px;
       }
       .row {
            margin-bottom: 20px;            
       }
       
       .pullquote {
            background: none repeat scroll 0 0 #fff;
            border-left: 10px solid @adk-blue;
            color: @adk-red;
       }
       .callout {
            background: none repeat scroll 0 0 #fff;
            border-left: 10px solid @adk-blue;
            color: @adk-red;
       }
    }
    .documentFirstHeading {
        color: @adk-blue;
    }
    
    padding-top: @line-height-base * 2;
    .actionBox {
        margin-bottom: 20px;
    }
    .actionBoxHeader {
        color: @adk-blue;
        border-bottom: 5px solid @adk-blue;
        a {
          color: @adk-blue;
          text-decoration: none;
        }
    }

    .actionBoxBody {
        margin-top: 10px;
        .btn {
            background-color: @adk-red;
            .more-link {
                color: #fff;
                background-color: @adk-red;
            }
            i {
                padding-right: 10px;
            }
        }
    }
    .splashbox {
        float: left;
        margin-top: 20px;
        display: block;
        .splashboxHeader {
            width: 80%;
            text-transform: uppercase;
            margin-bottom: 10px;
            border-bottom: 2px solid @adk-grey;
            a {
                border-radius: 5px 5px 5px 5px;
                padding-left: 5px;
                color: #000;
            }
        }
        width: 400px;
        margin-bottom: 20px;
        .actionBoxPic {
            width: 100%;
            height: 250px;
            #adkpic1 {
                background: url(../images/adkpic1.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic2 {
                background: url(../images/adkpic2.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic3 {
                background: url(../images/adkpic3.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic4 {
                background: url(../images/adkpic4.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic5 {
                background: url(../images/adkpic5.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic6 {
                background: url(../images/adkpic6.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
        }
        .actionBoxBody {
            width: 80%;
            a {
            color: #000;
            text-decoration: underline;
            }
        }
    }
    
    #sm-block {      
        margin-top: 19px;
        margin-bottom: 20px;
            ul  {
                width: 100%;
                height: 90%;
                padding: 0px;
                    li {
                        margin-right: 10px;
                        a {
                            color: #000;
                        }
                        display: inline-block;
                        i {
                            height: 100%;
                        }
                    }
            }
    }
        #global-quicklinks {
        /*   background-color: @adk-blue; */
            margin-top: 10px;
            margin-bottom: 10px;
            border: 0px solid red;
            ul {
                width: 100%;
                    li {
                        width: 100%;
                        height: 40px;
                        margin-right: 5px;
                        list-style: none;
                        display: inline-block;
                        a {
                            font-size: 150%;
                            border-bottom: 2px solid @adk-grey;
                            padding: 0px 0px 0px 0px;
                            color: @text-color;
                        }
                    }
                    i {
                        padding-right: 10px;
                    }
                }
        }
}

// Conten styles
// -----------------------------

@media (max-width: 767px) {
    #content,
    #sidebar {
        padding: @line-height-base / 2;
        font-size: @font-size-base * 0.85;      
    }
    #content {
        .pullquote {
            float: none;
            width: 90%;
        }
    }
}


@media (max-width: 940px) {
    #editbar-wrapper.hidden-phone {
        .navbar-brand {
            visibility: collapse;
            height: 0 !important;
            width: 0 !important;
        }
        #navigation {
            float: right;
            width: 60%;
            ul {
                margin-right: -20px;
                li {
                    height: 30px;
                }
            }
        }
        }
    #topbar {
        #logo-wrapper {
            #logo {
                padding-left: 0.75em;
                padding-top: 0.25em;
                background-color: none;
                background-size: 90%;
                width: 150px;
                height: 80px;
                //.size(800,300);
            }
        }
    }
}


@media (max-width: 1240px) {
    #editbar-wrapper.hidden-phone {
        .navbar-brand {
            visibility: collapse;
            height: 0 !important;
            width: 0 !important;
        }
        #navigation {
            margin-right: -10px;
        }
    }
    #topbar {
        #logo-wrapper {
            #logo {
                padding-left: 0.75em;
                padding-top: 0.25em;
                background-color: none;
                background-size: 90%;
                width: 300px;
                height: 80px;
                //.size(800,300);
            }
        }
    }
}

// Test some content styles

/* @tileListings */
.tileItem {
    clear: both;
    background:url(../images/dotted-line.png) 0% 100% repeat-x transparent;
    padding: 0px;
}

h2.itemHeadline {
//    background: url(../images/icon-globe-red.png) 0 50% no-repeat transparent !important;
    padding-left: 5px !important;
    font-size: 1.2em;
}

.itemHeadline a:link,
p.tileFooter a:link,
.itemHeadline a:visited,
p.tileFooter a:visited {
    color: #af1e4a !important;
    text-decoration: underline;
    border-bottom: 0px solid #af1e4a !important;
}

.itemHeadline a:hover {
    color: #314da1;
}

p.itemDescription {
    margin: 0px;
}

/* @group Navigation portlet */

dl.portletNavigationTree {
    margin-right: -2em;
}

ul.navTree {
    margin-left: 0 !important;
}

dl.portletNavigationTree dd {
    padding: 1em 0;
}

dl.portletNavigationTree dd a {
    display: block;
}

dl.portletNavigationTree li {

}

dl.portletNavigationTree li {
    a {
    border: none !important;
    display: block;
    padding: 0.75em;
    color: #000 !important;
    text-decoration: none;
    
  //  background:url(../images/navitem.png) 0 0 no-repeat transparent;
    }
    img {
        display: none;
    }
    a:hover {
        background-color: #D7D7D7; 
    }
}

dl.portletNavigationTree li a span {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

//dl.portletNavigationTree .navTreeCurrentItem {
//    background:url(../images/navitem-selected.png) 0 0 no-repeat transparent;
//}
//dl.portletNavigationTree li a.navTreeItemInPath {
//    background:url(../images/navitem-selected.png) 0 0 no-repeat transparent;
//}

dl.portletNavigationTree li.navTreeItemInPath {
    background: transparent;
}

dl.portletNavigationTree li a.navTreeCurrentItem span {
    color: black;
}

dl.portletNavigationTree ul {
    margin: 0 !important;
}
dl.portletNavigationTree .navTreeLevel0 li a {
    width: 170px;
    padding-left: 1em;
}
dl.portletNavigationTree .navTreeLevel1 li a, .dl.portletNavigationTree .navTreeLevel0 li a:hover {
    padding-left: 1em;
    padding-right: 3.5em;
    background: transparent;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: black !important;
}

dl.portletNavigationTree .navTreeLevel1 li a.navTreeCurrentItem span {
    color: #af1e4a;
}

dl.portletNavigationTree .navTreeLevel2 li a {
    padding-left: 3em;
}
dl.portletNavigationTree .navTreeLevel3 li a {
    padding-left: 4em;
}

/* @end */


#footer-wrapper {
/* Sticky footer */
    margin-top: @line-height-base;
    padding: @line-height-base;
    background: #af1e4a;
    color: #fff;
    a {
        color: #fff;
    }
}