// Main Stylesheet for application specific overrides

@adk-blue:       #314DA1;
@adk-red:        #AF1E4A;
@adk-grey:       #E7E7E7;


input.context,
input.standalone {
    .btn();
}


#header-phone .navbar {
    background-color: @adk-blue;
    .brand {
        color: #fff;
    }
    .nav > li > a {
        color: #fff;
    }
}

#topbar {
    display: block;
    border-top: 5px solid @adk-blue;
    margin-top: auto !important;
    margin-bottom: @line-height-base;
    #logo-wrapper {
    //    border-bottom: 2px solid @adk-grey;
        #logo {
            display: block;
            background: 0 0px url(../images/logo-adk.png) no-repeat;
            .size(310px, 75px);
            text-indent: -3000px;
            overflow:hidden;
        }
    }

    a {
        color: #000;
    }
//    border-bottom: 1px solid @adk-grey;
    //height:@navbar-height * 3.5;
    .navbar {
        width: 65%
    }

    #global-quicklinks {
     /*   background-color: @adk-blue; */
        float: right;
        clear:right;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0px solid red;
        ul {
            width: 140px;
            li {
            width: 120px;
            height: 20px;
            margin-right: 5px;
            list-style: none;
            display: inline-block;

            a {
                border-bottom: 2px solid @adk-grey;
                padding: 0px 0px 0px 0px;
                color: @text-color;
                font-size: @font-size-small;
            }
            }
            i {
                padding-right: 10px;
            }
        }
    }
    .section-it-it #global-quicklinks,
    .section-es-es #global-quicklinks,
    .section-fr-fr #global-quicklinks {
        width: 400px;
    }
    .nav {
        font-size: 11.9px;    
    }
    //#logo {
    //    position:absolute;
    //    margin: 0 22px 25px;
    //    background: 0 0px url(../images/logo-adk.png) no-repeat;
    //    .size(310px, 75px);
    //    margin: @line-height-base @line-height-base @line-height-base @line-height-base * 20;
    //    display: block;
    //    text-indent: -3000px;
    //    overflow:hidden;
    //    padding-bottom: 12px;
    //    border-bottom: 2px solid @adk-grey;
    //}
    #navigation {        
        ul {
            //width:70%;
            li {
                margin-right: 15px;
                //width: 190px;
                font-size: 80%;
                display: inline-block;
                list-style: none;
                a {
                    border-bottom: 2px solid @adk-blue;
                    display: block;
                    padding: 0.75em;
                    text-decoration: none;
                }
                a:hover {
                    border: none !important;
                    display: block;
                    padding: 0.75em;
                    color: #fff !important;
                    text-decoration: none;
                    background-color: @adk-blue;
                    color: #000;
                }
                a:focus {
                    border: none !important;
                    display: block;
                    padding: 0.75em;
                    color: #fff !important;
                    text-decoration: none;
                    background-color: @adk-red;
                    color: #000;
                    
                }
                a:active {
                    border: none !important;
                    display: block;
                    padding: 0.75em;
                    color: #fff !important;
                    text-decoration: none;
                    background-color: @adk-red;
                    color: #000;
                    
                }
                &.selected > a {
                    background: @adk-blue;
                    color: #fff;
                }
            }
        }

    }
}

#toolbar + #topbar,
#editbar-wrapper + #topbar {
    margin-top: @navbar-height;
}

#header-phone {
    .navbar-brand {
        color: @grayLighter;
    }
}

.jumbotron {
    h1 {
        color: @adk-blue;
        text-align: center;
    }
    p {
        color: @adk-red;
    }
    li {
        list-style: none;
    }
}

#site-wrapper {
    #content {
       //width: 80%;
       
       h2 {
            color: @adk-blue;
       }
       .tileImage {
           padding-top: 40px;
       }
       .row {
            margin-bottom: 20px;
       }
       
       .pullquote {
            background: none repeat scroll 0 0 #fff;
            border-left: 10px solid @adk-blue;
            color: @adk-red;
       }
       .callout {
            background: none repeat scroll 0 0 #fff;
            border-left: 10px solid @adk-blue;
            color: @adk-red;
       }
    }
    .documentFirstHeading {
        //background: url(../images/icon-globe.png) 0 50% no-repeat scroll transparent;
        color: @adk-blue;
        //padding-left: 20px;
        //border-bottom: 5px solid @adk-blue;
    }
    padding-top: @line-height-base * 2;
    .actionBoxHeader {
        color: @adk-blue;
        border-bottom: 5px solid @adk-blue;
        a {
          color: @adk-blue;
          text-decoration: none;
        }
    }
    .actionBoxBody {
        margin-top: 10px;
        //text-align: center;
        .fancy {
           height: 40px;
           padding-top: 10px;
           background-color: @adk-red;
           border-radius: 5px 5px 5px 5px;
           font-size: 150%;
           text-align: center;
            a {
                width: 100%;
                text-decoration: none;
                padding: 0.75em;
                margin-top: -5px;
                color: #fff;

            }
            i {
                padding-right: 10px;
            }
        }
    }
    .splashbox {
        float: left;
        margin-top: 20px;
        display: block;
        .splashboxHeader {
            width: 80%;
            text-transform: uppercase;
            margin-bottom: 10px;
            border-bottom: 2px solid @adk-grey;
            a {
                border-radius: 5px 5px 5px 5px;
                padding-left: 5px;
                color: #000;
            }
        }
        width: 400px;
        margin-bottom: 20px;
        .actionBoxPic {
            width: 100%;
            height: 250px;
            #adkpic1 {
                background: url(../images/adkpic1.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic2 {
                background: url(../images/adkpic2.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic3 {
                background: url(../images/adkpic3.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic4 {
                background: url(../images/adkpic4.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic5 {
                background: url(../images/adkpic5.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
            #adkpic6 {
                background: url(../images/adkpic6.png) 0 0 no-repeat transparent;
                width: 100%;
                height: 100%;
            }
        }
        .actionBoxBody {
            width: 80%;
            a {
            color: #000;
            text-decoration: underline;
            }
        }
    }

}

// Conten styles
// -----------------------------

@media (max-width: 767px) {
    #content,
    #sidebar {
        padding: @line-height-base / 2;
        font-size: @font-size-base * 0.85;      

    }
}


// Test some content styles

/* @tileListings */
.tileItem {
    clear: both;
    background:url(../images/dotted-line.png) 0% 100% repeat-x transparent;
    padding: 0px;
}

h2.itemHeadline {
    background: url(../images/icon-globe-red.png) 0 50% no-repeat transparent !important;
    padding-left: 15px !important;
    font-size: 1.2em;
}

.itemHeadline a:link,
p.tileFooter a:link,
.itemHeadline a:visited,
p.tileFooter a:visited {
    color: #af1e4a !important;
    text-decoration: underline;
    border-bottom: 0px solid #af1e4a !important;
}

.itemHeadline a:hover {
    color: #314da1;
}

p.itemDescription {
    margin: 0px;
}

/* @group Navigation portlet */

dl.portletNavigationTree {
    margin-right: -2em;
}

ul.navTree {
    margin-left: 0 !important;
}

dl.portletNavigationTree dd {
    padding: 1em 0;
}

dl.portletNavigationTree dd a {
    display: block;
}

dl.portletNavigationTree li {

}

dl.portletNavigationTree li {
    a {
    border: none !important;
    display: block;
    padding: 0.75em;
    color: #000 !important;
    text-decoration: none;
    
  //  background:url(../images/navitem.png) 0 0 no-repeat transparent;
    }
    img {
        display: none;
    }
    a:hover {
        background-color: #D7D7D7; 
    }
}

dl.portletNavigationTree li a span {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

//dl.portletNavigationTree .navTreeCurrentItem {
//    background:url(../images/navitem-selected.png) 0 0 no-repeat transparent;
//}
//dl.portletNavigationTree li a.navTreeItemInPath {
//    background:url(../images/navitem-selected.png) 0 0 no-repeat transparent;
//}

dl.portletNavigationTree li.navTreeItemInPath {
    background: transparent;
}

dl.portletNavigationTree li a.navTreeCurrentItem span {
    color: black;
}

dl.portletNavigationTree ul {
    margin: 0 !important;
}
dl.portletNavigationTree .navTreeLevel0 li a {
    width: 170px;
    padding-left: 1em;
}
dl.portletNavigationTree .navTreeLevel1 li a, .dl.portletNavigationTree .navTreeLevel0 li a:hover {
    padding-left: 1em;
    padding-right: 3.5em;
    background: transparent;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: black !important;
}

dl.portletNavigationTree .navTreeLevel1 li a.navTreeCurrentItem span {
    color: #af1e4a;
}

dl.portletNavigationTree .navTreeLevel2 li a {
    padding-left: 3em;
}
dl.portletNavigationTree .navTreeLevel3 li a {
    padding-left: 4em;
}

/* @end */

#sm-block {
    margin-top: 39px;
    margin-left: 85px;
//    border-bottom: 2px solid @adk-grey;
    ul  {
        margin-left: 0px;
        margin-bottom: 0px;

        li {
            display: inline;
        }

    }
}

#footer-wrapper {
/* Sticky footer */
    padding: @line-height-base;
    background: #af1e4a;
    color: #fff;
    a {
        color: #fff;
    }
}