// Site footer styles
// ------------------

.footer {
    margin-top: @line-height-computed;
    padding-top: @line-height-computed * 2;
    background:url(../images/skyline.png) repeat-x 0 0 transparent;
}

.footer-content {
    margin-top: @line-height-computed;
    padding: @line-height-computed * 2 @line-height-computed;
    background: #234493;
    color: #fff;
    a {
        color: #fff;
    }
}
