// Site footer styles
// ------------------

.footer {
    margin-top: @line-height-computed;
    padding: @line-height-computed;
    background: @brand-primary;
    color: #fff;
    a {
        color: #fff;
    }
}
