// Frontpage styles
// ----------------

.hero-unit-body {
    padding-bottom: @navbar-height * 2;
}

.hero-unit-fp-content {
    background:url(../images/speech-bubbles.png) no-repeat 100% 0 transparent;
}

.infopanel {
    i {
        color: @adk-red;
    }
    h3 {
        color: @adk-blue;
        text-transform: uppercase;
    }
}