//
// page header hero unit
// -------------------------------------------------------


// Jumbotron - hero unit styles

.hero-unit {
    background: transparent;
    margin: 0;
    padding: @line-height-computed;
    font-size: @font-size-base * 1.5;
}

.hero-content {
    background:transparent;
    h1 {
        color: @adk-blue;
        //text-align: center;
    }
    li {
        list-style: none;
    }
}

@media (min-width: @screen-tablet) {
    .hero-content {
        padding-bottom: (@navbar-height * 7);
        background:url(../../assets/img/hero-sprachschule.png) no-repeat 0 100% transparent;
    }
    .section-sprachkurse,
    .section-language-courses,
    .corsi-di-tedesco {
        .hero-content {
            background-image:url(../../assets/img/hero-sprachkurse.png);
        }
        &.subsection-deutsch-intensivkurse,
        &.subsection-german-intensive-courses,
        &.corsi-intensivi-di-tedesco {
            .hero-content {
                background-image:url(../../assets/img/hero-deutsch-intensivkurse.png);
            }
        }
        &.subsection-deutsch-intensiv-plus,
        &.subsection-german-intensive-plus {
            .hero-content {
                background-image:url(../../assets/img/hero-deutsch-intensiv-plus.png);
            }
        }
        &.subsection-dsh-und-testdaf-c-1-pruefungsvorbereitung,
        &.subsection-c1-testdaf-and-dsh-exam-preparation {
            .hero-content {
                background-image:url(../../assets/img/hero-dsh.png);
            }
        }
        &.subsection-berufsorientierter-deutschunterricht,
        &.subsection-business-german {
            .hero-content {
                background-image:url(../../assets/img/hero-berufsorientierter-deutschunterricht.png);
            }
        }
        &.subsection-integrationskurse,
        &.subsection-integration-courses {
            .hero-content {
                background-image:url(../../assets/img/hero-integrationskurse.png);
            }
        }
    }
    .section-sommerkurse,
    .section-sommer-courses {
        .hero-content {
            background-image:url(../../assets/img/hero-sommerkurse.png);
        }
    }
    .section-sprachreisen,
    .section-study-trips {
        .hero-content {
            background-image:url(../../assets/img/hero-sprachreisen.png);
        }
    }
    .section-termine-preise,
    .section-dates-fees {
        .hero-content {
            background-image:url(../../assets/img/hero-terminepreise.png);
        }
    }
}
