// Ovverrides + settings

@adk-blue:       #234493;
@adk-red:        #af0c41;
@adk-grey:       #E7E7E7;

@brand-primary:         @adk-red;
@brand-danger:          @adk-red;
@link-color:            @adk-red;

//== Typography
//
@font-family-base:            'Quicksand', 'brandon-grotesque', @font-family-sans-serif;
@headings-font-weight:          500;

@border-radius-base:            0;
@border-radius-large:            0;
@border-radius-small:            0;

@state-info-text:                @adk-blue;
@state-info-bg:                  lighten(@adk-blue, 50%);

@table-bg-accent:               @gray-lighter;

@thumbnail-bg:                  transparent;
@thumbnail-border:              transparent;

@navbar-default-link-color:     #fff;

// rem font size implementation
@font-size-root:                 16px;
@font-unit:                      0rem;

@font-size-base:                  1rem;

// Convert all variables to relative font units

@font-size-base:  1 + @font-unit;
@font-size-large: 1.25 + @font-unit;
@font-size-small: 0.85 + @font-unit;

@font-size-h1:            2.6 + @font-unit;
@font-size-h2:            2.15 + @font-unit;
@font-size-h3:            1.7 + @font-unit;
@font-size-h4:            1.25 + @font-unit;
@font-size-h5:            @font-size-base;
@font-size-h6:            0.85 + @font-unit;

@line-height-computed:    (@font-size-root * @line-height-base);

@padding-base-vertical:     ((6px / @font-size-root) + @font-unit);
@padding-base-horizontal:   ((12px / @font-size-root) + @font-unit);

@padding-large-vertical:    ((10px / @font-size-root) + @font-unit);
@padding-large-horizontal:  ((16px / @font-size-root) + @font-unit);

@padding-small-vertical:    ((5px / @font-size-root) + @font-unit);
@padding-small-horizontal:  ((10px / @font-size-root) + @font-unit);

@padding-xs-vertical:       ((1px / @font-size-root) + @font-unit);
@padding-xs-horizontal:     ((5px / @font-size-root) + @font-unit);

@border-radius-base:        ((4px / @font-size-root) + @font-unit);
@border-radius-large:       ((6px / @font-size-root) + @font-unit);
@border-radius-small:       ((3px / @font-size-root) + @font-unit);

@caret-width-base:          ((4px / @font-size-root) + @font-unit);
@caret-width-large:         ((5px / @font-size-root) + @font-unit);

//** Default `.form-control` height
@input-height-base:         (@line-height-computed + (@padding-base-vertical * 2));
//** Large `.form-control` height
@input-height-large:        ((@font-size-large * @line-height-large) + (@padding-large-vertical * 2));
//** Small `.form-control` height
@input-height-small:        ((@font-size-small * @line-height-small) + (@padding-small-vertical * 2));


//== Iconography
//
// Font awesome font path (custom due to import)
@fa-font-path:                  "../assets/fonts";

