// Ovverrides + settings

@adk-blue:       #314DA1;
@adk-red:        #AF1E4A;
@adk-grey:       #E7E7E7;

@link-color:            @adk-red;

@font-size-base:              16px;
// @line-height-computed:        @font-size-base + 8;
@font-family-base:            'brandon-grotesque', @font-family-sans-serif;

@state-info-text:                @adk-blue;
@state-info-bg:                  lighten(@adk-blue, 50%);


.btn,
.panel {
    border-radius: 0px;
}
