<section class="hero-unit hero-unit-fp" id="hero-text-fp">
    <div class="container hero-unit-fp-content" id="hero-content-fp">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="hero-unit-body" id="hero-content">
                    <h1>Deutschlernen in Deutschland</h1>
                    <p>Lernen Sie Deutsch in einem Intensivkurs,
                    bereiten Sie sich auf deutsche Sprachprüfungen vor, oder verbessern
                    Sie Ihr berufsbezogenes Deutsch.
                    Wir sind ein zertifiziertes Institut und garantieren die Qualität
                    unserer Kurse.
                    </p>
                    <div class="hero-unit-fp-actions">
                        <a href="" class="btn btn-primary btn-lg">
                            Sprachschule
                        </a>
                        <a href="" class="btn btn-danger btn-lg">
                            Termine &amp; Preise
                        </a>
                    </div>
                    <div class="hero-unit-fp-aside">
                        <img class="img-responsive lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ page.base_url }}assets/img/logo-telc.png" />
                        Prüfungszentrum DTZ, B1, B2, C1
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-6">
                <img class="img-responsive lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="{{ page.base_url }}assets/img/speech-bubbles.png" />
            </div>
        </div>
    </div>
</section>