<section class="hero-unit dim-in one" id="hero-text">
    <div class="hero-section">
        <div class="hero-content" id="hero-content">
            <h1 class="hero-title">Deutschlernen in Deutschland</h1>
            <p class="hero-abstract">
                Lernen Sie Deutsch in einem Intensivkurs,
                bereiten Sie sich auf deutsche Sprachprüfungen vor, oder verbessern
                Sie Ihr berufsbezogenes Deutsch.
                Wir sind ein zertifiziertes Institut und garantieren die Qualität
                unserer Kurse.
            </p>
         </div>
    </div>
</section>