<section class="hero-unit hero-unit-frontpage" id="hero-text-fp">
    <div class="container" id="hero-content-fp">
        <div class="row">
            <div class="col-6 col-lg-6">
                <h1>Deutschlernen in Deutschland</h1>
                <p>Lernen Sie Deutsch in einem Intensivkurs,
                bereiten Sie sich auf deutsche Sprachprüfungen vor, oder verbessern
                Sie Ihr berufsbezogenes Deutsch.
                Wir sind ein zertifiziertes Institut und garantieren die Qualität
                unserer Kurse.
                </p>
            </div>
        </div>
    </div>
</section>