    <footer class="footer" id="footer-wrapper">
        <!--<div id="footer-gradient"></div> -->
        <div class="container">
            <div class="row">
                <div class="col col-lg-4">
                    <address>
                        <strong>Augsburger Deutschkurse</strong><br>
                        Schaezlerstr. 8<br>
                        86150 Augsburg<br>
                        <abbr title="Phone">P:</abbr> + 49 (0) 821 - 31 49 05<br>
                        <abbr title="Fax">F:</abbr> + 49 (0) 821 - 31 49 10<br>
                        info@augsburger-deutschkurse.de
                    </address>
                </div>
                <div class="col col-lg-4">
                    <ul class="nav nav-pills nav-stacked" id="footer-navbar">
                        <li><a href="/en-en/downloads-en">Downloads</a></li>
                        <li><a href="/en-en/links-1-en">Links</a></li>
                        <li><a href="/en-en/fotos-1-en">Gallery</a></li>
                        <li><a href="/en-en/agb-1-en">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col col-lg-4">
                    <p>Sign up now for a German course at Augsburger Deutschkurse! Applications may be submitted here!</p>
                    <p><a href="/en-en/anmeldung-en" class="btn btn-default">Sign up now&hellip;</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>

  </body>
</html>