<div class="app-colophon">
    <div class="row">
        <div class="col-xs-12 col-lg-5">
            <p class="colophon-actions" id="colophon-actions">
                <a href="/@@contact-view">Kontakt</a> &ndash;
                <a href="/@@imprint-view">Impressum</a> &ndash;
                <a href="/@@terms-and-conditions">AGB</a>
            </p>
        </div>
         <div class="col-xs-12 col-lg-5 col-md-offset-2">
            <p>&copy; Copyright 2014 - ADK Augsburger Deutschkurse<br/>
                Deutschlernen in Augsburg</p>
        </div>
    </div>
</div>