<div class="app-footer-boxes">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="footer-box" id="footer-box-about">
                <div class="footer-box-header">
                    <i class="fa fa-globe fa-2x pull-right"></i>
                    <h4>Über uns</h4>
                </div>
                <div class="footer-box-content">
                    <p class="h5">ADK in Augsburg, Bayern ist die Sprachschule,
                        um in Deutschland Deutsch zu lernen. Lernen Sie Deutsch
                        in einem Intensivkurs, bereiten Sie sich auf deutsche
                        Sprachprüfungen vor oder verbessern Sie Ihr
                        berufsbezogenes Deutsch.</p>
                    <p>ADK ist ein "Familienunternehmen" unter persönlicher Leitung der Inhaber. Unbürokratisch, flexibel und persönlich - so ist hier der Service. Das unterscheidet ADK von großen Schulen.</p>
                    <a class="btn btn-default btn-lg" href="/">Mehr</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="footer-box" id="footer-box-quotes">
                <div class="footer-box-header">
                    <i class="fa fa-comment fa-2x pull-right"></i>
                    <h4>Schülermeinungen</h4>
                </div>
                <div class="footer-box-content">
                    <blockquote>
                        <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                    <a class="btn btn-default btn-lg" href="/">Mehr</a>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="footer-box" id="footer-box-certificates">
                <div class="footer-box-header">
                    <i class="fa fa-thumbs-o-up fa-2x pull-right"></i>
                    <h4>Zertifikate</h4>
                </div>
                <div class="footer-box-content">
                    <p>Unser Sprachinstitut wurde 2011 und 2012 mit dem
                        Excellence Award der Sprachreiseagentur languagecourse.net
                        ausgezeichnet. Der hohe Qualitätsstandard unserer Schule
                        ist durch die Zertifizierungsstelle CERT-IT anerkannt.</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <img class="img-responsive"
                                src="{{ page.base_url }}assets/img/logo-certit.jpg" />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img class="img-responsive"
                                src="{{ page.base_url }}assets/img/excellence-award.png" />
                        </div>
                        <div class="col-xs-12 col-sm-4">
                          <img class="img-responsive"
                              src="{{ page.base_url }}assets/img/TELC_weiss.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="footer-box" id="footer-box-contact">
                <div class="footer-box-header">
                    <i class="fa fa-envelope fa-2x pull-right"></i>
                    <h4>Kontakt</h4>
                </div>
                <div class="footer-box-content">
                    <address>
                        <strong>Augsburger Deutschkurse</strong><br>
                        Schaezlerstr. 8<br>
                        86150 Augsburg<br>
                        <abbr title="Phone">P:</abbr> + 49 (0) 821 - 31 49 05<br>
                        <abbr title="Fax">F:</abbr> + 49 (0) 821 - 31 49 10<br>
                        <a class="footer-mailto-link"
                            href="mailto:info@augsburger-deutschkurse.de">
                            info@augsburger-deutschkurse.de</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>