<div class="actionbar">
    <div class="actionbar-signup">
        <a class="btn btn-primary" href="#">Anmeldung</a>
    </div>
    <div id="language-flags-wrapper" class="actionbar-sm-links hidden-sm pull-right">
        <ul class="nav nav-pills">
            <li><a href="http://twitter.com/#!/ADKgermancourse" class="nav-icon"><i class="icon-twitter"></i></a></li>
            <li><a href="http://www.facebook.com/adk.germancourses" class="nav-icon"><i class="icon-facebook"></i></a></li>
        </ul>
    </div>
    <div id="language-flags-wrapper" class="actionbar-language hidden-sm pull-right">
        <ul class="nav nav-pills">
            <li><a href="http://augsburger-deutschkurse.de/" id="flag-de" class="language-flag-link">DE</a></li>
            <li><a href="http://adk-german-courses.com/" id="flag-en" class="language-flag-link">EN</a></li>
            <li><a href="http://apprendre-allemand.fr/" id="flag-fr" class="language-flag-link">FR</a></li>
            <li><a href="http://studiare-tedesco.it/" id="flag-it" class="language-flag-link">IT</a></li>
            <li><a href="http://estudiar-aleman.es/" id="flag-es" class="language-flag-link">ES</a></li>
        </ul>
    </div>
</div>