<nav class="navbar navbar-default app-navbar" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand app-navbar-brand visible-xs" href="#app-topbar">Navigation</a>
    </div>
    <div class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav nav-justified app-navbar-nav" id="main-navigation">
          <li><a href="/en-en/sprachschule-en">Language School</a></li>
          <li><a href="/en-en/sprachkurse-programm-en">Language Courses</a></li>
          <li><a href="/en-en/termine-und-preise-en">Dates &amp; Fees</a></li>
          <li><a href="/en-en/sprachreisen-en">Study Trips</a></li>
          <li><a href="/en-en/sommerkurse-1-en">Summercourses</a></li>
      </ul>
    </div>
    </div>
</nav>