<div class="navbar navbar-inverse site-navbar">
    <div class="container">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav nav-justified main-navigation" id="main-navigation">
            <li><a href="/en-en/sprachschule-en">Language School</a></li>
            <!--<li><a href=".">Sch&uuml;lerkommentare</a></li>-->
            <li><a href="/en-en/sprachkurse-programm-en">Language Courses</a></li>
            <li><a href="/en-en/termine-und-preise-en">Dates &amp; Fees</a></li>
            <!--<li><a href=".">Anmeldung</a></li>-->
            <li><a href="/en-en/sprachreisen-en">Study Trips</a></li>
            <li><a href="/en-en/sommerkurse-1-en">Summercourses</a></li>
            <!--<li><a href=".">Augsburg</a></li>
            <li><a href="#">Anreise</a></li>
            <li><a href=".">Unterkunft</a></li>-->
        </ul>
    </div>
    </div>
</div>