/* Workarounds for Internet Explorer */
#footer,
ul.navigation {
    height: 1%;
}

ul.navigation li a {
    letter-spacing: -1px
}

#sub-nav li a {
    letter-spacing: 0
}

ul.navigation li a.selected, 
ul.navigation li a.active {
    position: relative
}

* html .splash,
* html .pullout {
    height: 196px;
}

* html .ui-accordion,
* html .ui-accordion-header {
    height: 1%
}

.language-flag-link {
    display: inline;
    float: left;
}


#sitemap dl {
    width: 13%;
    float: left;
}

#sitemap dl dt {
    height: 30px;
    margin: 0px;
}

#sitemap dd {
    height: 1em;
    padding: 0px;
    margin: 0px;
}
